<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwC4N3IiBavkSViAMU1rQ5mRsCE7BAeto</string>
	<key>GCM_SENDER_ID</key>
	<string>906803272367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mbpiIq</string>
	<key>PROJECT_ID</key>
	<string>iq-profiler-mbpi</string>
	<key>STORAGE_BUCKET</key>
	<string>iq-profiler-mbpi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906803272367:ios:11155f36338aca5d3b925a</string>
</dict>
</plist>